body {
	margin: auto 0;
}

.black {
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 4;
}

.main-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
}

.nav-zone {
	padding: 12px;
	word-spacing: 60px;
	cursor: default;
}

a {
	color: #d6d6d6;
	text-decoration: none;
	font-size: 0.9em;
	font-family: 'Open Sans', sans-serif;
	opacity: 85%;
	cursor: pointer;
}

.spacing {
	word-spacing: 5px;
}

a:hover {
	color: #ffffff;
}
 .container1 {
 	display: flex;
 	justify-content: center;
 	background-image: url(iphoneSE.png);
 	background-color: #161616;
 	background-repeat: no-repeat;
 	background-position: center;
 	align-items: center;
 	padding-top: 80px;
 	height: 70vh;
 }
 .row1 {
 	color: white;
 	font-family: 'Open Sans', sans-serif;
 	cursor: default;
 	padding-bottom: 500px;
 }
 header {
 	text-align: center;
 	font-size: 1.6em;
 	margin-bottom: -40px;
 }
 h2 {
 	font-size: 1.8em;
 	padding-top: 5px;
 	padding-bottom: 0px;
 } 
 .learn {
 	text-align: center;
 	font-size: 1.4em;
 }
 .learn a {
 	color: #3096f7;
 }
 .learn a:hover{
 	text-decoration: underline;
 }

 .container2 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	background-image: url(iphone11.jpg);
 	background-color: #FBFBFB;
 	background-repeat: no-repeat;
 	background-position: center;
 	height: 90vh;
 }
 .row2 {
 	color: white;
 	font-family: 'Open Sans', sans-serif;
 	cursor: default;
 	padding-bottom: 500px;
 }
 .container3 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	background-image: url(iphone11pro.png);
 	background-repeat: no-repeat;
 	background-size: contain;
 	height: 100vh;
 	margin-top: 10px;
 	background-size: cover;
 	margin-bottom: 20px;

  }
 .row3 {
 	color: white;
 	font-family: 'Open Sans', sans-serif;
 	cursor: default;
 	padding-bottom: 600px;
 }
 .grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;

}
.box > img {
    width: 75%;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    padding: 50px;
    margin: 15px 10px 10px 15px;
}
.box:hover{
	transition: 1s;
	transform: scale(1.05);
}
.box1{
	background-color: #fafafa;
	padding: 130px;
}
.box2{
	background-color: black;
}
.box3{
	background-color: #f2f2f2;
}
.box4{
	background-color: black;
}
.box5{
	background-color:#F7F7F7;
}
.box6{
	background-color: black;
	padding: 100px;
}

.row {
 	color: black;
 	font-family: 'Open Sans', sans-serif;
 	cursor: default;	
 }

.row4 h1{
	font-size: 1.8em;
}
.row4 h2 {
	font-size: .4em;
	margin-top: -10px;
	padding-bottom: 20px;
	color: red;
}
.row4 h3{
	font-size: 1.2em;
}
.row4 section {
	font-size: 1em;
}
.row4 .learn{
	padding-right: 25px;
	font-size: 1.2em;
}
.row5 h1{
 	font-size: 1.6em;
 	color: white;
}
.row5 h2 {
	padding-top: 20px;
	padding-left: 25px;
 	font-size: 1.2em;
 	color: white;
}
.row5 .learn{
	font-size: 1.1em;
}
.row6 h1 {
	font-size: 1.8em;
	color: black;
	padding-bottom: 20px;
}
.row6 h2 {
	padding-left: 20px;
	font-size: 1.2em;
	color: black;
}
.row6 .learn {
	font-size: 1.1em;
	padding-right: 12px;
}
.row7 h1{
	font-size: 1.8em;
	color: white;
	padding-bottom: 100px;
}
.row7 .learn {
	font-size: 1.2em;
}
.row8 h1{
	font-size: 1.6em;
	color: black;
	padding-bottom: 50px;
}
.row8 .learn {
	font-size: 1em;
}
.row9 h1{
	font-size: 1.6em;
	padding-bottom: 20px;
	color: white;
}
.row9 h2{
	font-size: 1.3em;
	padding-bottom: 20px;
	color: white;
}
.row9 .learn{
	
	font-size: 1.1em;
} 
 .container4 {
 	display: flex;
 	justify-content: center;
 	background-color: #F5F5F7;
 	background-repeat: no-repeat;
 	background-position: center;
 	align-items: center;
 	font-family: 'Open Sans', sans-serif;
 	cursor: default;	
 	color: grey;
 	font-size: 0.8em;
 	padding-top: 80px;
 	margin-top: 20px;
 	height: 60vh;
 }
 .footer ul{
 	list-style: none;
 	padding-bottom: 500px;
 	padding-left: 250px;
 	padding-right: 200px;
}
.footer a {
	color: grey;
}
.footer a:hover{
	color: black;
	text-decoration: underline;
}

